* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

/* inizio nav */

nav {
    width: 100%;
    background-color: rgb(255, 132, 0);
    position: sticky;
    z-index: 99;
}

.nav-container {
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: .6em 0;
}

.nav-list {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 42%;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: .8em;
    margin-right: 7px;
}

.nav-image {
    height: fit-content;
    display: flex;
    flex: 1 1 11%;
}

.nav-image img {
    width: 100%;
}

.nav-icons {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 42%;
}

.nav-icons i {
    margin-left: 20px;
}

.nav-icons, a {
    color: white;
}

.nav-hover:hover {
    color: gray;
}

/* inizio main */

.main-container {
    max-width: 70%;
    margin: auto;
    margin-top: 35px;
    display: flex;
}

.main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.model-list {
    border: 2px solid black;
    width: 32.5%;
}

.model-item {
    width: 100%;
}

/* fine */